<md-toolbar md-theme="subBar" class="subBar" flex>
  <div class="md-toolbar-tools" flex>
    <span flex="5"></span>
    <group-button>
      <md-button ng-class="{'md-raised md-primary md-hue-3': !proj.filters.archived}"
                 ng-click="proj.filters.archived = false">Active</md-button>
      <md-button ng-class="{'md-raised md-primary md-hue-3': proj.filters.archived}"
                 ng-click="proj.filters.archived = true">Archive</md-button>
    </group-button>
    <span flex></span>
    <md-menu-content class="menu-content-project" layout="row" layout-align="center center">
      <md-menu-item ng-repeat="item in proj.project.collaborators track by $index">
        <a class="search-menu-button" ng-click="">
          <md-icon md-svg-src="{{menu.selected.key === item.key ? 'assets/icons/check.svg' : ''}}"></md-icon>
          <img class="md-user-avatar" width="16" ng-src="{{item.avatar}}" ng-if="item.avatar"/>
          <md-tooltip>{{item.value}}</md-tooltip>
        </a>
      </md-menu-item>
    </md-menu-content>
    <span flex="5"></span>
  </div>
  <md-button ng-click="proj.addScreentModal($event)" aria-label="add.title" class="md-warn md-fab md-fab-top-right">
    <md-icon md-svg-src="/assets/icons/add.svg"></md-icon>
  </md-button>
</md-toolbar>
<md-toolbar class="filterBar" flex>
  <div class="md-toolbar-tools" flex>
    <span flex="5"></span>
    <md-input-container md-no-float class="md-icon-float search-container">
      <md-icon md-svg-src="assets/icons/search.svg"></md-icon>
      <input ng-model="proj.search" type="text" placeholder="Search">
    </md-input-container>
    <span flex></span>
    <md-menu-bar>
      <md-menu ng-repeat="menu in proj.filterConfig" ng-init="proj.filterSelect(menu.selected, menu)">
        <md-button ng-click="$mdOpenMenu($event)">
          {{menu.selected.value}}
          <md-icon md-svg-src="assets/icons/caret.svg"></md-icon>
        </md-button>
        <md-menu-content layout="column" layout-align="center start">
          <md-menu-item ng-repeat="item in menu.items">
            <a class="search-menu-button" ng-click="proj.filterSelect(item, menu)">
              <md-icon md-svg-src="{{menu.selected.key === item.key ? 'assets/icons/check.svg' : ''}}"></md-icon>
              <img class="md-user-avatar" width="16" ng-src="{{item.avatar}}" ng-if="item.avatar" />
              {{item.value}}
            </a>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <group-button>
      <md-button class="md-mini" ng-class="{'md-raised md-primary md-hue-3': type.key === proj.cardType}"
                 ng-click="proj.setCardType(type.key)" aria-label="type.value"
                 ng-repeat="type in proj.cardTypes">
        <md-tooltip>{{type.value}}</md-tooltip>
        <md-icon md-svg-src="{{type.icon}}"></md-icon>
      </md-button>
    </group-button>
    <span flex="5"></span>
  </div>
</md-toolbar>
<section class="project" layout="row">
  <span flex="5"></span>
  <div layout="row" layout-align="center center" layout-wrap flex>
    <card info="screen" type="proj.cardType" ng-repeat="screen in proj.project.screens | orderBy: proj.orders |
      searchField: 'name' : 'update' | filter: proj.search | pick: proj.pickFilter" ng-hide="proj.project.screens | isEmpty"
      flex="{{proj.cardType === 'module' ? '33' : '100'}}">
      <card-main-action>
        <md-button type="button" class="enter" md-no-ink ng-click="proj.view(screen.id)" layout="column" aria-label="Enter">
          <md-icon md-svg-src="assets/icons/eye.svg" class="icon"></md-icon>
          <span>View</span>
        </md-button>
      </card-main-action>
      <card-right-actions ng-if="!screen.archived">
        <md-button type="button" class="md-icon-button" ng-click="" aria-label="Share">
          <md-tooltip>Share</md-tooltip>
          <md-icon md-svg-src="assets/icons/share.svg" class="white"></md-icon>
        </md-button>
        <md-button type="button" class="md-icon-button" ng-click="proj.copy(screen.id)" aria-label="Copy">
          <md-tooltip>Copy</md-tooltip>
          <md-icon md-svg-src="assets/icons/copy.svg" class="white"></md-icon>
        </md-button>
        <md-button type="button" class="md-icon-button" ng-click="proj.archive(screen.id, $event)" aria-label="Archive">
          <md-tooltip>Archive</md-tooltip>
          <md-icon md-svg-src="assets/icons/archive.svg" class="white"></md-icon>
        </md-button>
        <md-button type="button" class="md-icon-button" ng-click="proj.deleted(screen.id)" aria-label="Delete">
          <md-tooltip>Delete</md-tooltip>
          <md-icon md-svg-src="assets/icons/delete.svg" class="white"></md-icon>
        </md-button>
      </card-right-actions>
      <card-right-actions ng-if="screen.archived">
        <md-button type="button" class="md-icon-button" ng-click="proj.unArchive(screen.id, $event)" aria-label="Unarchive">
          <md-tooltip>Unarchive</md-tooltip>
          <md-icon md-svg-src="assets/icons/unarchive.svg" class="white"></md-icon>
        </md-button>
        <md-button type="button" class="md-icon-button" ng-click="proj.deleted(screen.id)" aria-label="Delete">
          <md-tooltip>Delete</md-tooltip>
          <md-icon md-svg-src="assets/icons/delete.svg" class="white"></md-icon>
        </md-button>
      </card-right-actions>
    </card>
    <div ng-show="proj.project.screens | filter: proj.search | pick: proj.pickFilter | isEmpty">no content to show</div>
  </div>
  <span flex="5"></span>
</section>
