.card {
	.title {
		font-family: 'Realeway';
	    font-size: 1.5em;
	    color: #004759;
	}
	.projects-time{
	    font-weight: 700;
	    color: #004759;
	    font-family: Raleway Semibold;
	}

	.projects-time-label{
	    color:  #6bc9d2;
	    font-family: Raleway ExtraBold;
	}
}