<md-toolbar layout="row" layout-align="center center">

  <a href="/" class="logo" flex="20" layout="row" layout-align="center center">
    <img ng-src="/assets/images/main/logo.jpg" alt="">
  </a>

  <section flex="40" layout="row" layout-align="left center">
    <md-button href="#">PRICING</md-button>
    <md-button href="#">ABOUT US</md-button>
    <md-button href="#">SHOWCASE</md-button>
    <md-button href="#">ONLINE SUPPORT</md-button>
  </section>
  
  <section flex="30" layout="row" layout-align="left center" >
  	<md-button ng-click="vm.signIn($event)">LOGIN</md-button>
  	<md-button href="#">REGISTRATION</md-button>
  </section>
</md-toolbar>
