 <section class="search-section" layout="row" layout-align="left center" flex>
     
    <div flex="60" class="search-project" layout="row" layout-align="center center">
         <div flex="5">
             <a onclick="document.getElementById('searchInput').focus(); return false;">
                <img  ng-src="/assets/images/projects/search_icon.jpg" class="md-card-image" alt="">
             </a>
         </div>
         <md-input-container flex="60">
            <input id="searchInput" ng-model="search" type="text">
            <label ng-if="!search">Search</label>
        </md-input-container>
    
    </div>
    
    <div flex="40">  
         <md-menu-bar>
            <md-menu ng-repeat="menu in settings">
                <md-button ng-click="$mdOpenMenu($event)">
                    {{menu.scope[menu.showValue]}}
                </md-button>
                <md-menu-content layout="column" layout-align="space-around center">
                    <md-menu-item ng-repeat="item in menu.scope[menu.repeatOption]">
                        <a ng-if="menu.itemParam" class="search-menu-button" ng-click="orderby(menu.scope, item[menu.itemValue], item[menu.itemParam], menu.showValue, menu.keyGlobalData, menu.keyData, menu.firstFlag, menu.functionType, menu.defaultParam)">
                            {{item.value}}
                        </a>
                        <a ng-if="!menu.itemParam" class="search-menu-button" ng-click="orderby(menu.scope, menu.itemValue, item, menu.showValue, menu.keyGlobalData, menu.keyData, menu.firstFlag, menu.functionType, menu.defaultParam)">
                            {{item}}
                        </a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
         </md-menu-bar>
    </div>
  </section>