 <section class="search-section" layout="row" layout-align="left center" flex>
    <div flex="60" layout="row" layout-align="center center">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Search</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
            <input ng-model="user.name" type="text">
        </md-input-container>
    </div>
    <div flex="40">
        <md-menu-bar>
            <md-menu ng-repeat="menu in settings">
                <md-button ng-click="$mdOpenMenu($event)">
                    {{menu.scope[menu.showValue]}}
                </md-button>
                <md-menu-content layout="column" layout-align="space-around center">
                    <md-menu-item ng-repeat="item in menu.scope[menu.repeatOption]">
                        <a ng-if="menu.itemParam" class="search-menu-button" ng-click="orderby(menu.scope, item[menu.itemValue], item[menu.itemParam], menu.showValue, menu.keyGlobalData, menu.keyData, menu.firstFlag, menu.functionType, menu.defaultParam)">
                        {{item.value}}
                        </a>
                        <a ng-if="!menu.itemParam" class="search-menu-button" ng-click="orderby(menu.scope, menu.itemValue, item, menu.showValue, menu.keyGlobalData, menu.keyData, menu.firstFlag, menu.functionType, menu.defaultParam)">
                        {{item}}
                        </a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
  </section>