.filterBar {
	.md-button:not([disabled]):hover {
	    background-color: rgba(0, 0, 0, 0.3);
	    color: rgba(44, 65, 164, 0.96);
	    transition: 0.3s;
	}
	md-menu.md-open > button, md-menu > button:focus {
	    background-color: rgba(0, 0, 0, 0.3) !important;
	}
	.search-container {
	    margin-bottom: 0;
    	margin-top: 0;

  //   	.md-input {
		// 	color: rgba(255,255,255,.54);
		// }
    	.md-errors-spacer {
    		min-height: 0;
    	}
    	&.md-input-focused {
    		// .md-input {
    		// 	border-color: rgba(255,255,255,.5) !important;
    		// 	color: #fff;
    		// }
    		// md-icon {
	    	// 	color: rgba(255,255,255,0.87) !important;
	    	// }
    	}
	}
}