<md-toolbar md-theme="filterBar" class="filterBar md-medium-tall" flex>
    <div class="md-toolbar-tools" flex>
        <span flex="5"></span>
        <div>
            <section layout="row" layout-align="center center">
                <md-button class="groupX left">Active</md-button>
                <md-button class="groupX right">Archived</md-button>
            </section>
        </div>
        <span flex></span>
        <md-input-container class="md-icon-float">
            <label>Search</label>
            <md-icon md-svg-src="assets/icons/search.svg"></md-icon>
            <input ng-model="search" type="text">
        </md-input-container>
        <span flex></span>
        <md-menu-bar>
            <md-menu ng-repeat="menu in settings">
                <md-button ng-click="$mdOpenMenu($event)">
                    {{menu.scope[menu.showValue]}}
                </md-button>
                <md-menu-content layout="column" layout-align="center start">
                    <md-menu-item ng-repeat="item in menu.scope[menu.repeatOption]">
                        <a ng-if="menu.itemParam" class="search-menu-button" ng-click="filters.orderby(menu.scope, item[menu.itemValue], item[menu.itemParam], menu.showValue, menu.keyGlobalData, menu.keyData, menu.firstFlag, menu.functionType, menu.defaultParam)">
                        {{item.value}}
                        </a>
                        <a ng-if="!menu.itemParam" class="search-menu-button" ng-click="filters.orderby(menu.scope, menu.itemValue, item, menu.showValue, menu.keyGlobalData, menu.keyData, menu.firstFlag, menu.functionType, menu.defaultParam)">
                        {{item}}
                        </a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
        <span flex="5"></span>
    </div>
    <md-button ng-click="add.click($event)" aria-label="add.title" class="md-warn md-fab md-fab-top-right">
        <md-icon md-svg-src="/assets/icons/add.svg"></md-icon>
    </md-button>
</md-toolbar>