 
 footer{
     background: #004759;
     height: 150px;
     
     .footer-menu{   
          
         p{
             color: #80a3ac;
             font-family: Raleway Semibold;
             font-size: 15px;
              a{
                text-decoration: none;
                color: #fff;
            }
         } 
         
         ul{
            padding: 0;
         }
         
         ul li{
            font-family: Raleway Semibold;
            list-style-type: none;
            float: left;
            line-height: 32px;
            
            a{
                text-decoration: none;
                color: #fff;
            }
         }
     }
     
     .footer-socials p{
        float: left;
     }
     
     .footer-link{
        width: 60%;   
     }
     
     .footer-logo{
         padding-left: 50px;
     }
 }

 @media  screen and (min-device-width: 300px) and (min-width: 300px){
     footer{
        height: 250px;
     }
}

@media  screen and (min-device-width: 1280px) and (min-width: 1280px){
   footer{
        height: 150px;
     }
}
