<footer flex layout="row" layout-align="space-around center">
    <div flex class="footer-menu" layout="row" layout-align="space-around start">
        
        <div flex="20" class="footer-logo">
            <img flex ng-src="/assets/images/main/logo_footer.jpg">
        </div>
        
        <div flex="15" ng-repeat="col in footerbar.cols">
            <p>{{col.header}}</p>
            <ul layout="column" layout-align="space-around">
                <li ng-repeat="menu in col.menus">
                    <a ui-sref="{{menu.link}}">{{menu.title}}</a>
                </li>
            </ul>
        </div>
        <div flex="20">
            <p>FOLLOW US:</p>
            <a ng-repeat="social in footerbar.socials" ng-href="{{social.link}}" target="_blank">
                <img flex ng-src="{{social.image}}">
            </a>
        </div>
        
    </div>
</footer>