/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

$primary-color: #006A85;

$primary-dark-color: #004759;

$primary-light-color: #7fa3ac;

$family-realeway-semibold: "Realeway Semibold";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

h1{
  font-family: 'Realeway Light';
  font-weight: lighter;
  color: $primary-color;
  font-size: 60px;
}

h2{
  font-family: 'Realeway Bold';
  color: $primary-dark-color;
  font-size: 50px;
}

h3{
  font-family: 'Realeway Regular';
  font-weight: lighter;
  color: $primary-color;
  font-size: 40px;
}

h4{
  font-family: 'Realeway Medium';
  font-weight: lighter;
  color: $primary-color;
  font-size: 30px;
}

h5{
  font-family: $family-realeway-semibold;
  font-weight: lighter;
  color: $primary-color;
  font-size: 20px;
}

h6{
  font-family: $family-realeway-semibold;
  font-weight: lighter;
  color: $primary-light-color;
  font-size: 15px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//redio button
md-radio-button.md-default-theme.md-checked .md-off, 
md-radio-button.md-checked .md-off {
        border-color: $primary-color; 
}

 md-radio-group .md-checked .md-ink-ripple {
    color: $primary-color;
}

md-radio-button {
    
    div.md-on{ 
        background-color: $primary-color; 
        top: 2.3px;
        left: 2.4px;
        width: 16px;
        height: 16px;
    }
    
    div.md-off{
        border-color: $primary-color; 
    } 
    
    
    div.md-label {
        font-family: $family-realeway-semibold;
        color: $primary-color;
    }
    
}

//checkbox
md-checkbox {
    
    .md-label{
        font-family: $family-realeway-semibold;
        color: $primary-color
    }
    
    .md-icon {
        border-color: $primary-color;
        border-radius: 25%;
    }
}

md-checkbox.md-checked .md-icon {
    background-color: $primary-color;
}

//dropdown
div.md-open-menu-container md-menu-content{
    
    md-menu-item{
        
        color: $primary-light-color;
        font-family: $family-realeway-semibold;
        padding: 0 16px;
    }
    
    md-menu-item:hover {
        cursor: pointer;
        color: #ff7f9f;
    }
}

//button
.md-button {
  background-color: #ff0040;
  color: white;
  font-family: $family-realeway-semibold;
  font-size: 13px;
  padding: 5px 26px;
  text-align: center;
  text-transform: uppercase;
}

button.md-button:not([disabled]):hover {
    background-color: #d90036; 
}

button.md-button:not([disabled]):active {
    background-color: #bf0030; 
}

.md-button[disabled] {
    background-color: #f7ccd7; 
    color: white !important;
}

.circle-button{
    line-height: 56px;
    padding: 0 0; 
    min-width: 0;
    width: 56px;
    height: 56px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 50%;
}

//input
md-input-container label,
md-input-container .md-input.ng-invalid.ng-dirty{
    color: $primary-light-color;
    font-family: $family-realeway-semibold;
    padding: 5px 26px;
}

md-input-container.md-input-invalid label {
    color: rgb(221,44,0);
}

md-input-container .md-input{
    color: $primary-dark-color;
    font-family: $family-realeway-semibold;
    padding: 5px 26px;
    
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: $primary-dark-color;
}

md-input-container.md-input-focused label:not(.md-no-float){
    color: $primary-light-color;
    padding: 5px 26px;
    
}

//md-card
.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
}

.view .mask, .view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view img {
    width: 300px;
   height: 200px;
   display: block;
   position: relative;
}

.view a.info {
   background:url(/assets/images/main/Desmark_uikit.jpg) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

.view a.ok {
   background:url(/assets/images/main/Desmark_uikit.jpg) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}
.third-effect .mask {
   opacity: 0;
   overflow:visible;
   border:100px solid rgba(0,0,0,0.7);
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
}

.third-effect a.ok {
   position:relative;
   top:60px;
   right: 120px;
   opacity: 0;
   transition: opacity 0.5s 0s ease-in-out;
}
.third-effect a.info {
   position:relative;
   top:-10px; /* Center the link */
   opacity: 0;
   transition: opacity 0.5s 0s ease-in-out;
}

.third-effect:hover .mask {
   opacity: 1;
   border:100px solid rgba(0,0,0,0.7);
}

.third-effect:hover a.info {
   opacity:1;
   transition-delay: 0.3s;
}
.third-effect:hover a.ok {
   opacity:1;
   transition-delay: 0.3s;
}



md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: $primary-light-color;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
