.bottom-sheet{
  background: #006A85;
  position: fixed;
    h5{
        color: white;
    }

   div .md-icon-button md-icon {
        color: white;;
    }


}

.md-open-menu-container md-menu-content{
       border-radius: 5px;
}

.first-links{
    a{
        display: block;
        width: 100%;
        padding-left: 16px;

        div{
            float: right;
            padding-right: 25px;
            font-size: 12px;
        }

    }

}

md-backdrop.md-bottom-sheet-backdrop {
    z-index: 0;
}
