<div class="main" layout="vertical" layout-fill>
  <md-content flex>
      
    <header>
      <nav-bar></nav-bar>
    </header>
    
    <section flex class="masthead">
        <h1>The fastest way to collaborate your design.</h1>
    </section>
    
    <section flex class="baner-browser-window">
            <img ng-src="/assets/images/main/browser_window.jpg">
            
            <md-button aria-label="comment" class="circle-button   md-icon-button-add">
                <md-icon md-svg-src="/assets/images/main/ic_add.svg"></md-icon>
            </md-button>
        
    </section>
    <!--<h1>TEST sss</h1>
    <h2>TEST sss</h2>
    <h3>TEST sss</h3>
    <h4>TEST sss</h4>
    <h5>TEST sss</h5>
    <h6>TEST sss</h6>-->
      <!--<md-button >Primary (md-noink)</md-button>
      <md-button ng-disabled="true" >Disabled</md-button>-->
      
      <!--<md-checkbox >
            Checkbox: Disabled
          </md-checkbox>-->
      
      <!--<md-radio-group ng-model="data.group1">
      <md-radio-button value="Banana"> Banana </md-radio-button>
      <md-radio-button value="Mango">Mango</md-radio-button>
    </md-radio-group>-->
    
     <!--<md-input-container >
      <input ng-model="user.phone" type="text" placeholder="Phone Number">
    </md-input-container>
    <md-input-container>
      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
      -->
       <!--<md-menu md-offset="0 -7">
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="call:email"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="item in [1, 2, 3]">
         фывфыв
            </md-menu-item>
          </md-menu-content>
        </md-menu>-->
     <!--<md-card class="view third-effect">
          <img src="http://placehold.it/150x150" class="md-card-image" alt="">
           <div class="mask">  
                <a href="#" class="info" title="Full Image">Full Image</a>  
                <a href="#" class="ok" title="Full Image">Full Image</a>  
            </div> 
     </md-card> -->
    <section flex class="capabilities" layout="column" layout-align="center">
    
        <div layout="row" layout-align="space-around center">
            
            <div flex="15">
                <img ng-src="/assets/images/main/Design.jpg">
                <!--ng-->
                <h2>Design</h2>
                <p>Work your way up from a blank canvas, or pull in designs.</p>
            </div>
            
            <div flex="15">
                <img ng-src="/assets/images/main/Prototype.jpg">
                <h2>Prototype</h2>
                <p>Lay out your states and instalty animate between them, without coding a thing.</p>
            </div>
            
            <div flex="15">
                <img ng-src="/assets/images/main/Share.jpg">
                <h2>Share</h2>
                <p>Share your prototypes with anyone or view any device via a humble URL.</p>
            </div>
            
        </div>
    </section>
    
     <section flex class="device-imag">
        <img ng-src="/assets/images/main/device_imag.jpg">
    </section>
    
    <footer flex layout="row" layout-align="space-around center">
        <div flex class="footer-menu" layout="row" layout-align="space-around start">
            
            <div flex="20" class="footer-logo">
                <img flex ng-src="/assets/images/main/logo_footer.jpg">
            </div>
            
            <div flex="15">
                <p>LEARN MORE</p>
                <ul layout="column" layout-align="space-around">
                    <li><a href="/">Tour</a></li>
                    <li><a href="/">Customers</a></li>
                    <li><a href="/">New Features</a></li>
                    <li><a href="/">Education</a></li>
                </ul>
            </div>
            
             <div flex="15">
                <p>ABOUT</p>
                <ul layout="column" layout-align="space-around">
                    <li><a href="/">Company</a></li>
                    <li><a href="/">Media Kit</a></li>
                    <li><a href="/">Jobs</a></li>
                    <li><a href="/">Blog</a></li>
                </ul>
            </div>
            
             <div flex="15">
                <p>SUPPORT</p>
                <ul layout="column" layout-align="space-around">
                    <li><a href="/">Help Center</a></li>
                    <li><a href="/">Schedule a Demo</a></li>
                    <li><a href="/">Terms of Service</a></li>
                    <li><a href="/">Securety</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
            
             <div flex="15">
                <p>EXTRAS</p>
                <ul layout="column" layout-align="space-around">
                    <li><a href="/">Marketplace</a></li>
                    <li><a href="/">Design Disruptors</a></li>
                    <li><a href="/">InVision Sync (Mac)</a></li>
                    <li><a href="/">Free T-Shirt</a></li>
                </ul>
            </div>
            
            <div flex="20">
                <p>FOLLOW US:</p>
                <a href="/" target="_blank"><img flex ng-src="/assets/images/main/youtube.jpg"></a>
                <a href="/" target="_blank"><img flex ng-src="/assets/images/main/facebook.jpg"></a>
                <a href="/" target="_blank"><img flex ng-src="/assets/images/main/linked.jpg"></a>
            </div>
            
        </div>
    </footer>
  </md-content>
</div>
