<md-dialog aria-label="SignUp dialog" flex="25">
	<form name="form" ng-submit="form.$valid && signUp.submit($event)" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Sign Up</h2>
				<span flex></span>
				<md-button type="button" class="md-icon-button" ng-click="signUp.cancel($event)" aria-label="close">
					<md-icon md-svg-src="assets/icons/close.svg"></md-icon>
				</md-button>
			</div>
    	</md-toolbar>
		<md-dialog-content>
			<div layout-padding>
				<md-input-container class="md-block">
					<label>Email</label>
					<input type="email" name="email" ng-model="signUp.user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
					<div ng-messages="form.email.$error" multiple role="alert">
						<div ng-message="required">This is required.</div>
						<div ng-message="pattern">This is not valid.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Password</label>
					<input type="password" name="password" ng-model="signUp.user.password" md-maxlength="20" minlength="4" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
					<div ng-messages="form.password.$error" multiple role="alert">
						<div ng-message="required">This is required.</div>
						<div ng-message="minlength">Passwords must be more than 4 characters</div>
						<div ng-message="md-maxlength">Passwords must be less than 20 characters</div>
						<div ng-message="pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout-align="center center">
			<md-button type="submit" class="md-warn md-raised" ng-disabled="!form.$valid">Sign Up</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>